#home-container {
    width: 450px;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: var(--light-green);
    color: var(--medium-green);
    text-align: right;
    --margin: 30px;
    box-shadow: 0px 0px 25px 0px #00000040;
}

#home-container.dark {
    background-color: var(--dark-gray); 
    color: white;
}

#home-background {
    width: calc(100% - 400px);
    height: 100%; 
    position: absolute;
    top: 0px;
    left: 450px;
    background-color: white;
    overflow-x: hidden;
    z-index: -1;
}

#home-background.dark {
    background-color: var(--dark-gray);
    box-shadow: 0px 0px 25px 0px #000000d0;
}

#home-title, .home-error-message {
    position: absolute;
    top: 25%;
    margin-right: -0.25em;
    letter-spacing: 0.25em;
    right: var(--margin);
}

.home-link {
    position: absolute;
    letter-spacing: 0.25em;
    font-size: 1.3em;
    right: var(--margin);
}

.home-join {
    top: 45%;
}

.home-new {
    top: 55%;
}
  
.text-reflect:after {
    display: block;
    transform: scale(1, -1);
    z-index: 2;
    background: linear-gradient(#ffffff00, #09B092aa);
    background-clip: text;
    color: transparent;
    opacity: 0.5;
    text-shadow: none;
}

.text-reflect:after.dark {
    opacity: 0.8;
}

#home-title:after {
    content: 'MEMERY';
}

.home-join:after {
    content: 'join';
}

.home-new:after {
    content: 'neW GAMe';
}

.arrow-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: -10px;
    margin-left: 30px;
    transition: 0.2s all;
}

.id-form-input {
    width: 50px;
    margin-right: 20px;
}

.submit-btn {
    margin: 0;
}

.id-form {
    position: absolute;
    margin-left: 30px;
    margin-top: -10px;
    top: 45%;
}

.home-error-message {
    margin-left: 30px;
}

@media (max-width:500px) {
    #home-container {
        width: 300px;
        font-size: 0.8em;
    }

    #home-title {
        font-size: 2em;
    }

    #home-background {
        width: calc(100% - 300px);
        left: 300px;
    }
}

@media (max-height:500px) {
    #home-title {
        font-size: 2em;
    } 
    #home-container {
        font-size:0.8em;
    }
}
