:root {
  --light-green: #E7F8F0;
  --medium-green: #09B092;
  --dark-gray: #2A2D2C;
  --light-gray: #535454;
  --error-bg: #F8E7E7;
  --error-text: #AAA;
}

body {
  margin: 0;
  font-family: 'Major Mono Display', monospace;
}

.label {
  background-color: var(--light-green);
  color: var(--error-text);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  letter-spacing: 0.25em;
  margin: 10px;
}

.error {
  background-color: var(--error-bg);
  color: var(--error-text);
}

.memery-tile {
  background-image: url('../images/bg.svg');
  background-size: 12rem;
  background-repeat: repeat;
  z-index: -1;
}

.dialog {
  padding: 25px;
  background-color: var(--light-green);
  min-height: 50%;
  min-width: 75%;
  display: flex;;
  justify-content: space-between;
  flex-direction: column;
  align-content: space-between;
  box-shadow: 0px 0px 25px 0px #00000040;
  color: var(--medium-green);
}

.dialog.dark {
  background-color: var(--medium-green);
  color: var(--dark-gray);
}

.dialog-bg {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 0;
}

.dialog-bg.dark {
  background-color: var(--dark-gray);
}

input[type="text"], input[type="image"] {
  height: 50px;
  background-color: var(--medium-green);
  border: none;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  transition: 0.2s all;
  box-shadow: 0px 2px 5px 0px #00000010, 0px 0px 10px 0px #00000060;
  /* margin: 10px; */
}

button {
  height: 50px;
  min-width: 150px;
  margin: 10px;
  transition: 0.2s all;
  box-shadow: 0px 0px 10px 0px #00000060;
  border: none;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: var(--medium-green);
}

input:hover, input:focus, input:active, button:focus, button:active, button:hover {
  transition: 0.1s all;
  outline: none;
  box-shadow: 0px 4px 5px 0px #00000040, 0px 0px 15px 0px #00000060;
}

input:hover.dark, input:focus.dark, input:active.dark, button:hover.dark, button:focus.dark, button:active.dark {
  box-shadow: 0px 4px 5px 0px #000000e0, 0px 0px 15px 0px #000000d0;
}
